.login-logo a, .register-logo a {color: #dd4b39}

.form-control, .form-control:focus {
    border-radius: 0;
    box-shadow: none;
    border-color: #dd4b39;
}
.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #dd4b39;
}